.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
	width:8px;height:8px;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}
.icon-gadd{
	background:url('icons/green_pixel_21.gif') no-repeat center center;
}
.icon-gqur{
	background:url('icons/green_pixel_03.gif') no-repeat center center;
}
.icon-gindex{
	background:url('icons/green_pixel_01.gif') no-repeat center center;
}
.icon-gupdate{
	background:url('icons/green_pixel_05.gif') no-repeat center center;
}
.icon-gphone{
	background:url('icons/green_pixel_19.gif') no-repeat center center;
}
.icon-gtable{
	background:url('icons/green_pixel_26.gif') no-repeat center center;
}
.icon-gkey{
	background:url('icons/green_pixel_46.gif') no-repeat center center;
}
.icon-gtable2{
	background:url('icons/green_pixel_56.gif') no-repeat center center;
}
.icon-phone{
	background:url('icons/phone.png') no-repeat center center;
}
.icon-pw{
	background:url('icons/icon-pw.png') no-repeat center center;
}
.icon-un{
	background:url('icons/icon-un.png') no-repeat center center;
}




/*扩展*/
.icon-add2{
	background:url('icons/add.png') no-repeat center center;
}
.icon-delete{
	background:url('icons/delete.png') no-repeat center center;
}
.icon-user{
	background:url('icons/user.png') no-repeat center center;
}
.icon-refresh{
	background:url('icons/refresh.png') no-repeat center center;
}
.icon-submit{
	background:url('icons/submit.png') no-repeat center center;
}
.icon-import{
	background:url('icons/import.png') no-repeat center center;
}
.icon-assign{
	background:url('icons/assign.png') no-repeat center center;
}
.icon-details{
	background:url('icons/details.png') no-repeat center center;
}
.icon-offDuty{
	background:url('icons/Fingerprint.png') no-repeat center center;
}
.icon-export{
	background:url('icons/export_16px.png') no-repeat center center;
}
.icon-modify{
	background:url('icons/modify.png') no-repeat center center;
}
.icon-business{
	background:url('icons/business.png') no-repeat center center;
}
.icon-staff{
	background:url('icons/staff.png') no-repeat center center;
}
.icon-account{
	background:url('icons/User_Accounts.png') no-repeat center center;
}
.icon-channel{
	background:url('icons/channel.png') no-repeat center center;
}
.icon-menu{
	background:url('icons/menu.png') no-repeat center center;
}
.icon-calendar-today{
	background:url('icons/calendar_today.png') no-repeat center center;
}
.icon-walk{
	background:url('icons/walk.png') no-repeat center center;
}
.icon-transfer{
	background:url('icons/transfer.png') no-repeat center center;
}
.icon-empquit{
	background:url('icons/empquit.png') no-repeat center center;
}